ul.add-ads__category.category__list
	li.category__item
		label.field-label.required Kategorija
		input.field-input(type='text' value='Pasirinkite kategoriją')
	li.category__item
		label.field-label.required Skelbimo antraštė
		input.field-input(type='text')
	li.category__item
		label.field-label.required Skelbimo tekstas
		textarea.add-ads__textarea.field-input