- var addAdsHeader = 'Naujas skelbimas'
.add-ads
	.container
		.row
			.col-lg-2
				.left-banner-column
					include ../block/_small-banner-list
			.col-lg-7
				include ../block/_m-banner
				h4.add-ads__header.ads-list__header NAUJAS SKELBIMAS
				include ../block/_form-add-ads

			.col-lg-3
				include ../block/_big-side-bar