-
		var announcmentList = [
			{
				img: 'announcment-1.png',
				classType: 'invite',
				link: 'link11',
				header: 'Perkame ekologiškus ir P2 statuso grūdus',
				type: 'Ieško',
				date: '2018-01-02',
				topic: 'Augalininkystė',
				text: 'Nuolat superkame ekologines bei pereinamojo statuso avižas, kviečius, kvietrugius, rugius, speltą, ir kitus grūdus. Turime galimybę produkciją išvalyt, i',
			},{
				img: 'announcment-1.png',
				classType: 'invite',
				link: 'link21',
				header: 'Brangiai perku kviecius',
				type: 'Ieško',
				date: '2018-01-03',
				topic: 'Augalininkystė',
				text: 'Brangiai moku uz kviecius,issivezu savo transportu,iskarto atsiskaitom.'
			},{
				img: 'announcment-1.png',
				classType: 'invite',
				link: 'link31',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-04',
				topic: 'Augalininkystė',
				text: 'Parduodu avižas -100 t. , grikius - 3 t. , žirnius -6 t. . Varėnos r.'
			},{
				img: 'announcment-1.png',
				classType: 'invite',
				link: 'link41',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'Parduodu avižu-vikiu misinį, avižas, mežius, grudai tinka seklai išvaliti Šalčininkų raj.'
			},{
				img: 'announcment-1.png',
				classType: 'invite',
				link: 'link51',
				header: 'Avižos, žirniai, grikiai',
				type: 'Ieško',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'isoje Lietuvoje perku visus maistinius ir visus pašarinius grūdus tinka sudige drėgni siuksleti su kvapu su vabalais, visi mišiniai, maži kiekiai.'
			},{
				img: 'announcment-1.png',
				classType: 'search',
				link: 'link1',
				header: 'Parduodu vikius',
				type: 'Siūlo',
				date: '2018-01-02',
				topic: 'Augalininkystė',
				text: 'Parduodu vikius. Išvalyti, sausi, daigūs. Kaina 400 eurų tona. Ukmergės raj. 862200227 ',
			},{
				img: 'announcment-1.png',
				classType: 'search',
				link: 'link2',
				header: 'Cukriniai runkeliai',
				type: 'Siūlo',
				date: '2018-01-03',
				topic: 'Augalininkystė',
				text: 'Parduodu cukrinius runkelius yra prikasta apie 150t.'
			},{
				img: 'announcment-1.png',
				classType: 'search',
				link: 'link3',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-04',
				topic: 'Augalininkystė',
				text: 'Parduodu avižas -100 t. , grikius - 3 t. , žirnius -6 t. . Varėnos r.'
			},{
				img: 'announcment-1.png',
				classType: 'search',
				link: 'link4',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'Parduodu avižu-vikiu misinį, avižas, mežius, grudai tinka seklai išvaliti Šalčininkų raj.'
			},{
				img: 'announcment-1.png',
				classType: 'search',
				link: 'link5',
				header: 'Avižos, žirniai, grikiai',
				type: 'Siūlo',
				date: '2018-01-05',
				topic: 'Augalininkystė',
				text: 'isoje Lietuvoje perku visus maistinius ir visus pašarinius grūdus tinka sudige drėgni siuksleti su kvapu su vabalais, visi mišiniai, maži kiekiai.'
			}
		]
ul.ads__listing
	each item in announcmentList
		include ../block/_announcment-item