.ads-list
	.container
		.row
			.col-lg-2
				include ../block/_small-side-bar
			.col-lg-7
				include ../block/_m-banner
				include ../block/_ads-listing-header
				include ../block/_ads-listing
				include ../block/_pagination
			.col-lg-3
				include ../block/_big-side-bar