.magazine__quantity
	.magazine__subscribers
		.quantity__label Prenumeratų kiekis:
		select.quantity__dropdown
			option 1
			option 2
			option 3
			option 4
			option 5
	.magazine__date
		.quantity__label Pradžia:
		select.quantity__dropdown
			option 2018-02-01
			option 2018-02-02
			option 2018-02-03
			option 2018-02-04
			option 2018-02-05
			option 2018-02-06
	.magazine__duration
		.quantity__label Trukmė
		select.quantity__dropdown
			option 1
			option 2
			option 3
			option 4
			option 5
			option 6
	a(href='#').btn-to-basket Į krepšelį