
form.add-ads__form
	.add-ads__filds
		include ../block/_add-ads-radio-type
		include ../block/_add-ads-category

		include ../block/_add-ads-radio-time
	.add-ads__confirm
		.add-ads__rule
			input(type='checkbox').rule__input
			a(href='#').rule__link.news__read-more Su skelbimų puslapio taisyklėmis susipažinau
		a(href='#').confirm__btn Skelbti