- var subText = 'Naujienų prenumerata'
- var subBtnText = 'Prenumeruoti'
form.subscription
		p.subscription__text=subText
		input.subscription__input(type='text' placeholder='Jūsų el. pašto adresas')
		a.btn-sub=subBtnText