.gallery
	.container
		.row
			.col-lg-2
				include ../block/_small-side-bar
			.col-lg-7
				include ../block/_m-banner
				h4.add-ads__header.ads-list__header Galerija
				.news__gallery
					p.gallery__header „DOJUS agro“ 25 metų jubiliejaus šventė Šiauliuose. Jolantos Bulotienės fotoreportažas
					include ../block/_gallery-list
			.col-lg-3
				include ../block/_big-side-bar