-
		var menu = {
			'/skelbimai.html':'Skelbimai',
			'/prenumerata.html':'Prenumerata',
			'/reklama.html':'Reklama',
			'/kontaktai.html':'Kontaktai'
		}

header.header
	.container
		.row
			.header-wrapper
				a.logo(href='index.html')
					img.logo__image(src='templates/images/logo.png')
				.nav-wrapper
					ul.nav
						each menuItem,menuLink in menu
							li.nav__item
								a.nav__link(href=`${menuLink}`)= menuItem
				a.btn-menu(href='#')
						img.menu__image(src='templates/images/icons/hamburger-nav.svg')