- var topicList = ['AUGALININKYSTĖ','GYVULININKYSTĖ','AUGALININKYSTĖ']
.journal-content
	.journal-content__header Turinys
	ul.journal-content__list
		each item in topicList
			li.journal-content__item
				p.journal-item__header= item
				ul.journal-topic__list
					li.journal-topic__item
						a(href='#').journal-topic__link
							p.journal-topic__header Mūšis dėl glifosato baigėsi, bet karas tęsiasi
						p.journal-topic__autor D. Lukas
					li.journal-topic__item
						a(href='#').journal-topic__link
							p.journal-topic__header Kviečiai po kviečių – ar visada blogai?
						p.journal-topic__autor S. Maikštėnienė, D. Jablonskytė-Raščė
					li.journal-topic__item
						p.journal-topic__link
							p.journal-topic__header Perlojoje ieškoma atsakymų į ekologinio ūkio klausimus
						p.journal-topic__autor V. Žėkaitė, R. Česnulevičienė
					li.journal-topic__item
						a(href='#').journal-topic__link
							p.journal-topic__header Sodo veisimas – ilgalaikė investicija
						p.journal-topic__autor J. Zaleckienė