.journal-main
	.journal-main__date Mano Ūkis  2018/01
	.journal-main__header Mūšis dėl glifosato baigėsi, bet karas tęsiasi
	ul.info__list
		li.info__item.autor-name Dainoras Lukas
		li.info__item Mano ūkis
		li.info__item 2018-0
	p.journal-main__text Glifosatas įeis į žemdirbystės istoriją kaip stebuklingas piktžolių žudikas, galiausiai tapęs pasaulinio konflikto ašimi. Tiek siūlantys uždrausti, tiek raginantys jį leisti toliau naudoti kviečia remtis moksliniais tyrimais. Tačiau į aklavietę veda tai, kad nebeaišku, kuriais tyrimais galima pasitikėti, nes dalis glifosato įtaką aplinkai ir žmonėms tyrusių mokslininkų buvo diskredituoti, o jų sprendimus galėjo lemti pinigai. Tyrimai ne visus įtikino Pernai lapkritį Europos Komisija po kelių nesėkmingų bandymų nutarė glifosato licenciją pratęsti 5 metams. Lietuvos augalų apsaugos asociacijos vadovė Aušra Beniulienė mano, kad nebuvo pagrindo neatnaujinti veikliosios medžiagos glifosato registracijos. 
		a(href='#').news__read-more Daugiau
