.journal
	.container
		.row
			.col-lg-2
				include ../block/_small-side-bar
			.col-lg-7.new-order
				include ../block/_m-banner
				include ../block/_archive-filter
				include ../block/_journal-main
				include ../block/_journal-list
			.col-lg-3
				include ../block/_big-side-bar