ul.pagination-mob
	li.mob__item
		a.mob__link.mob__link-prev(href='#') Ankstesnis
	li.mob__item
		a.mob__link.mob__link-next(href='#') Sekantis
ul.pagination
	li.pagination__item.pagination-prev
		a.pagination__link.pagination__link-prev(href='#')
			i.fa.fa-angle-left
	li.pagination__item
		a.pagination__link(href='#') 1
	li.pagination__item
		a.pagination__link(href='#') 2
	li.pagination__item
		a.pagination__link(href='#') 3
	li.pagination__item
		a.pagination__link(href='#') 4
	li.pagination__item
		a.pagination__link(href='#') 5
	li.pagination__item
		a.pagination__link(href='#') ...
	li.pagination__item
		a.pagination__link(href='#') 45
	li.pagination__item
		a.pagination__link(href='#') 46
	li.pagination__item
		a.pagination__link(href='#') 47
	li.pagination__item
		a.pagination__link(href='#') 48
	li.pagination__item
		a.pagination__link(href='#') 49
	li.pagination__item
		a.pagination__link(href='#') 50
	li.pagination__item.pagination-next
		a.pagination__link.pagination__link-next(href='#')
			i.fa.fa-angle-right