- var date = 'Ketvirtadienis, Lapkričio 30d.'
- var shortNews = 'Žurnalų MANO ŪKIS ir VETinfo PRENUMERATA 2018 metams jau prasidėjo! Kviečiame užsiprenumeruoti internetu'
- var search = 'Paieška'
.search-bar
	.container
		.row.align-items-center
			.col-lg-2.date-column
				p.date=date
			.col-lg-7.align-items-center
				.short-news
					marquee(behavior='scroll' direction='left')
						p.short-news__inner=shortNews
			.col-lg-3.col-12.search-column
				.search-bar-wrapper
					p.search__word=search
					.search__field
						// place for google custom search
