- var date = 'Ketvirtadienis, Lapkričio 30d.'
- var shortNews = 'Žurnalų MANO ŪKIS ir VETinfo PRENUMERATA 2018 metams jau prasidėjo! Kviečiame užsiprenumeruoti internetu'
- var search = 'Paieška'
.search-bar
	.container
		.row
			.col-lg-2.date-column
				p.date=date
			.col-lg-7
				.short-news
					p.short-news__inner=shortNews
			.col-lg-3.col-12.search-column
				.search-bar-wrapper
					p.search__word=search
					.search__field
						//- <script>
						//- 	(function() {
						//- 		var cx = '005034612557974249424:6rkm6kzbjiq';
						//- 		var gcse = document.createElement('script');
						//- 		gcse.type = 'text/javascript';
						//- 		gcse.async = true;
						//- 		gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
						//- 		var s = document.getElementsByTagName('script')[0];
						//- 		s.parentNode.insertBefore(gcse, s);
						//- 	})();
						//- </script>
						//- <gcse:search></gcse:search>
