- var advertisingBtn = 'Idēti Skelbimā'
- var searchBtn = 'Ieškoti'
.search
	.container
		.row
			.col-12
				.search__wrapper
					.search__container
						input.search__input(placeholder='Paieška')
						a(href='#').search__btn= searchBtn
					.search__add
						a(href='#').search__advertising= advertisingBtn