.left-banner-column
	include ../block/_l-side-menu
	select.select-mobile-only
		option Naujienos
		option Agropolitika
		option Pasaulyje
		option Ūkis
		option Rinka
		option MANO ŪKIS, žurnalas
		option Spaudos centras
	include ../block/_small-banner-list
