.add-ads{
	&__confirmation{
		display: flex;
		align-items: center;
		.field-input{
			max-width: 120px;
		}
		.confirm{
			&__text{
				display: inline-block;
				margin-right: 5px;
			}
			&__label{
				display: inline-block;
				margin-right: 20px;
				margin-bottom: 0;
			}
		}
	}
	&__upload{
		border-bottom: 1px solid $borderGrey;
		margin-bottom: 12px;
		padding-bottom: 24px;
		.upload__input{
			margin-bottom: 15px;
		}
	}
	&__textarea{
		min-height: 120px;
		padding-top: 10px;
	}
	&__filds{
		background-color: $LightGreyBG;
		border: 1px solid $borderGrey;
		padding: 15px;
	}
	&__confirm{
		padding: 21px 15px 30px;
		background-color: $peach;
		border-bottom: 1px solid $borderGrey;
		border-left: 1px solid $borderGrey;
		border-right: 1px solid $borderGrey;
	}
	&__rule{
		margin-bottom: 29px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__list{
		padding-bottom: 11px;
		margin-bottom: 11px;
		border-bottom: 1px solid $borderGrey;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		margin-right: 10px;
		display: flex;
		align-items: center;
	}
}
.ads{
	&__type{
		margin-right: 5px;
		outline: none;
	}
	&__label{
		margin-bottom: 0;
	}
}
.rule{
	&__input{
		margin-right: 10px;
	}
}
.confirm__btn{
	font-size: 15px;
	font-weight: $medium;
	color: #fff;
	display: block;
	background-color: $Lime;
	height: 41px;
	line-height: 41px;
	max-width: 257px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
	margin: 0 auto;
	transition: all .3s;
	&:hover{
		background-color: darken($Lime, 10%);
		text-decoration: none;
		color: #fff;
	}
}
.add-ads__category{
	.selectize-control.field-select.single{
		width: 100%;
		margin-bottom: -5px;
	}
	.selectize-dropdown.single.field-select{
		width: 100% !important;
		top: 28px !important;
	}
	.selectize-input.items.full.has-options.has-items{
		height: 30px;
		background: #fff !important;
		color: #000 !important;
		padding-top: 5px;
	}
	.selectize-dropdown.single.field-select{
		border: 1px solid $borderGrey;
		box-shadow: none;
	}
}

.field-input{
	border: 1px solid $borderGrey;
	font-size: 15px;
	height: 30px;
	padding-left: 10px;
}
.field-label{
	font-size: 15px;
	font-weight: $bold;
	margin-bottom: 9px;
	&.required{
		position: relative;
		&:after{
			content: '*';
			color: red;
			position: absolute;
			top: 0;
			right: -10px;
			display: block;
			font-weight: $bold;
		}
	}
}
.category{
	&__list{
		padding-bottom: 18px;
		border-bottom: 1px solid $borderGrey;
		margin-bottom: 12px;
	}
	&__item{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 17px;
		&:last-child{
			margin-bottom: 0;
		}
		.field-input{
			width: 100%;
		}
	}
}
.add-ads__upload{
	.upload{
		&__success{
			background: url(../images/icons/success.png) center center no-repeat;
			display: block;
			height: 18px;
			width: 18px;
			margin-right: 5px;
		}
		&__main{
			margin-right: 5px;
		}
		&__info{
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 13px;
		}
		&__remove{
			color: red;
			text-decoration: underline;
			transition: all .3s;
			&:hover{
				color: darken(red, 10%);
			}
		}
		&__list{
			display: flex;
			flex-wrap: wrap;
			margin-left: -16px;
		}
		&__image{
			max-width: 100%;
			width: 100%;
			margin-bottom: 10px;
		}
		&__item{
			width: 20%;
			padding-left: 16px;
		}
	}
}
@media only screen and (max-width: 991px){
	.add-ads__upload{
		.upload{
			&__item{
				width: 25%;
				margin-bottom: 16px;
			}
		}
	}
	.ads-list .left-banner-column{
		display: none;
	}
	.ads-list .right-banner-column{
		display: none;
	}
	.add-ads .right-banner-column{
		display: none;
	}
	.add-ads .ads__full .full__wrapper .mobile__img{
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}
	.ads__info .ads__full{
		flex-wrap: wrap;
		.full__wrapper{
			width: 100%;
		}
		.full__image-wrapper{
			display: none;
		}
	}
	.add-ads__rule{
		align-items: flex-start;
	}
	.rule__input{
		margin-top: 3px;
	}
	.add-ads__form{
		margin-bottom: 15px;
	}
	.right-banner__img{
		width: 100%;
	}
}
@media only screen and (max-width: 600px){
	.add-ads__upload{
		.upload{
			&__item{
				width: 33.33%;
				margin-bottom: 16px;
			}
		}
	}
}
@media only screen and (max-width: 500px){
	.add-ads__upload{
		.upload{
			&__item{
				width: 50%;
				margin-bottom: 16px;
			}
		}
	}
}