.article-list{
	.news__list{
		margin-bottom: 15px;
	}
}
.pagination-mob{
	display: none;
}
@media only screen and (max-width: 600px){
	.article-list .pagination{
		display: none;
	}
	.pagination-mob{
		margin-bottom: 20px;
		display: flex;
	}
	.mob__item{
		width: 50%;
		height: 41px;
		border: 1px solid $borderGrey;
		line-height: 41px;
		text-align: center;
		font-size: 16px;
	}
	.mob__link{
		color: $newsDescr;
		&-prev{
			&:before{
				content: url(../images/icons/arrow-prev.png);
				vertical-align: middle;
				margin-right: 5px;
			}
		}
		&-next{
			&:after{
				content: url(../images/icons/arrow-next.png);
				vertical-align: middle;
				margin-left: 5px;
			}
		}
		&:hover{
			text-decoration: none;
			color: $newsDescr;
		}
	}
}
.article-list{
	padding-bottom: 20px;
}
.pagination{
	&-prev,&-next{
		border: 1px solid $borderGrey;
		width: 27px;
		height: 27px;
	}
	margin-bottom: 20px;
	display: flex;
	max-width: 460px;
	justify-content: space-between;
	margin: 0 auto;
	&__item{
		display: flex;
		align-items: center;
		justify-content: center;
		&:hover{
			background-color: $paginationBG;
		}
	}
	&__link{
		line-height: 27px;
		text-align: center;
		height: 27px;
		width: 27px;
		color: $paginationBG;
		&:hover{
			color: #fff;
			text-decoration: none;
		}
		&-prev{
			width: 27px;
			height: 27px;
			display: block;
		}
		&-next{
			width: 27px;
			height: 27px;
			display: block;
		}
	}
}