.order{
	padding-top: 24px;
	margin-bottom: 24px;
}
.section__header{
	font-size: 21px;
	font-weight: $bold;
	color: $Brown;
	border-bottom: 5px solid $Brown;
	margin-bottom: 20px;
	text-transform: uppercase;
	padding-bottom: 4px;
}
.order-table{
	margin-bottom: 25px;
	&--book{
		margin-bottom: 24px;
		.selectize-input.items.full.has-options.has-items{
			background-color: #fff;
		}
	}
	&__header{
		background-color: $green;
		color: #fff;
		padding: 8px 15px;
		font-size: 18px;
		font-weight: $medium;
	}
	&__list{
		border: 1px solid $borderGrey;
	}
}
.order-item{
	display: flex;
	border-bottom: 1px solid $borderGrey;
	&:last-child{
		border-bottom: none;
	}
	.selectize-input.items.full.has-options.has-items{
		background-color: #fff;
	}
	&__sum{
		width: 19%;
		padding: 9px 15px;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 18px;
		font-weight: $bold;
	}
	&__counter{
		width: 19%;
		border-right: 1px solid $borderGrey;
		padding: 9px 15px;
	}
	&__month{
		width: 24%;
		border-right: 1px solid $borderGrey;
		padding: 9px 15px;
	}
	&__date{
		width: 19%;
		border-right: 1px solid $borderGrey;
		padding: 9px 15px;
	}
	&__image{
		border-right: 1px solid $borderGrey;
		width: 19%;
		display: flex;
		align-items: stretch;
		padding-left: 1px;
		padding: 9px 15px;
		img{
			max-width: 100%;
			width: 100%;
		}
	}
}
.order-item__title{
	font-size: 14px;
	font-weight: $bold;
}
.order-dropdown-label{
	font-size: 14px;
	font-weight: $regular;
	margin-bottom: 7px;
}
.order-table--book{
	&__item{
		display: flex;
		border-bottom: 1px solid $borderGrey;
		&:last-child{
			border-bottom: none;
		}
	}
	&__title{
		display: flex;
		align-items: center;
		padding-left: 39px;
		font-size: 14px;
		font-weight: $bold;
		width: 62%;
		border-right: 1px solid $borderGrey;
	}
	&__counter{
		padding: 9px 15px;
		width: 19%;
		border-right: 1px solid $borderGrey;
	}
}
.order-total{
	margin-left: auto;
	border: 3px solid $borderGrey;
	padding: 19px 24px 14px;
	display: flex;
	align-items: center;
	background-color: $LightGreyBG;
	justify-content: space-between;
	width: 270px;
	&__wrapper{
		display: flex;
	}
	&__label{
		font-size: 16px;
		font-weight: $regular;
	}
	&__sum{
		font-size: 18px;
		font-weight: $bold;
	}
}
.message{
	&-warning{
		padding: 10px 16px;
		margin-top: 15px;
		margin-bottom: 15px;
		background-color: $red;
		color: $rose;
		font-size: 15px;
		font-weight: $regular;
		&:before{
			content: url(../images/icons/icon-warning.svg);
			margin-right: 7px;
			width: 17px;
			height: 15px;
			vertical-align: middle;
		}
	}
}
.order-form{
	&__wrapper{
		border: 1px solid $borderGrey;
		padding: 23px 20px 29px;
		background-color: $LightGreyBG;
	}
	&__input{
		width: 100%;
		&.error{
			background-color: $lightPink;
			border: 1px solid $borderRed;
		}
	}
	&__label{
		font-size: 15px;
		font-weight: $bold;
		margin-bottom: 9px;
		display: inline-block;
		&.required{
			position: relative;
			&:after{
				position: absolute;
				content: '*';
				color: $rose;
				top: -2px;
				right: -10px;
			}
		}
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
		margin-left: -23px;
	}
	&__item{
		width: 50%;
		padding-left: 23px;
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 25px;
		&.big{
			width: 100%;
		}
	}
	&__confirm{
		background-color: $peach;
		border: 1px solid $borderGrey;
		border-top: none;
		padding: 23px 0;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
}
.order-checkbox{
	margin-bottom: 14px;
	font-size: 15px;
	font-weight: $regular;
	display: flex;
	align-items: center;
	&__input{
		margin-right: 9px;
	}
	&__label{
		margin-bottom: 0;
	}
}
.confirm-info{
	&__list{
		display: flex;
		margin-bottom: 20px;
	}
	&__item{
		margin-right: 20px;
		&:last-child{
			margin-right: 0;
		}
	}
}
.order-confirm__btn{
	background-color: $Lime;
	color: #fff;
	width: 257px;
	height: 41px;
	line-height: 41px;
	display: inline-block;
	text-align: center;
	font-size: 15px;
	font-weight: $medium;
	transition: all .3s;
	&:hover{
		color: #fff;
		background-color: darken($Lime, 10%);
		text-decoration: none;
	}
}
.address-info{
	&__btn{
		height: 30px;
		line-height: 30px;
		border: 1px solid $borderGrey;
		border-right: none;
		color: #000;
		background-color: #fff;
		display: block;
		text-transform: uppercase;
		width: 40px;
		text-align: center;
		font-size: 15px;
		font-weight: $regular;
		&:hover{
			color: #000;
			text-decoration: none;
		}
	}
	&__label{
		&-wrapper{
			display: flex;
			justify-content: space-between;
		}
	}
	&__input{
		&-wrapper{
			display: flex;
		}
	}
	&__list{
		margin-bottom: 20px;
	}
	&__title{
		width: 70%;
		margin-right: 23px;
	}
	&__postal{
		width: 30%;
	}
	&__item{
		margin-bottom: 20px;
		display: flex;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
@media only screen and (max-width: 991px){
	.order .left-banner-column{
		display: none;
	}
}
@media only screen and (max-width: 850px){
	.order-item{
		flex-wrap: wrap;
	}
	.order-item__image{
		width: 33.33%;
		border-bottom: 1px solid $borderGrey;
	}
	.order-item__date{
		width: 33.33%;
		border-bottom: 1px solid $borderGrey;
	}
	.order-item__month{
		width: 33.33%;
		border-bottom: 1px solid $borderGrey;
		border-right: none;
	}
	.order-item__counter{
		width: 50%;
	}
	.order-item__sum{
		width: 50%;
	}
	.order-table--book__item{
		flex-wrap: wrap;
	}
	.order-table--book__title{
		width: 50%;
		border-bottom: 1px solid $borderGrey;
	}
	.order-table--book__counter{
		width: 50%;
		border-bottom: 1px solid $borderGrey;
		border-right: none;
	}
	.order-table--book__item .order-item__sum{
		width: 100%;
		padding: 20px 15px;
	}
}
@media only screen and (max-width: 740px){
	.order-item__image{
		padding: 20px 15px;
		width: 100%;
		border-right: none;
		align-items: center;
		justify-content: center;
	}
	.order-item__image img{
		max-width: 200px;
	}
	.order-item__date{
		width: 100%;
		border-right: none;
		border-bottom: none;
	}
	.order-item__month{
		width: 100%;
		border-bottom: none;
	}
	.order-item__counter{
		width: 100%;
		border-bottom: none;
		border-right: none;
	}
	.order-item__sum{
		width: 100%;
		border-top: 1px solid $borderGrey;
		padding: 20px 15px;
	}
	.order-table--book__title{
		width: 100%;
		border-right: none;
		padding: 20px;
	}
	.order-table--book__counter{
		width: 100%;
		border-bottom: none;
	}
	.order-total{
		width: 100%;
	}
	.order-form__item.small{
		width: 100%;
	}
	.address-info__item{
		flex-wrap: wrap;
	}
	.address-info__title{
		width: 100%;
		margin-right: 0;
		margin-bottom: 15px;
	}
	.address-info__postal{
		width: 100%;
	}
}