.catalog{
	padding-top: 24px;
	margin-bottom: 24px;
	&-control{
		&__list{
			display: flex;
			border-bottom: 5px solid $Brown;
			margin-bottom: 10px;
		}
		&__item{
			width: 213px;
			text-align: center;
			background-color: $LightGreyBG;
			border: 1px solid $borderGrey;
			margin-right: 4px;
			transition: all .3s;
			&:last-child{
				margin-right: 0;
			}
			&.active,
			&:hover{
				background-color: $Brown;
				border: 1px solid $Brown;
				a{
					color: #fff;
					text-decoration: none;
				}
			}
		}
		&__link{
			padding: 10px 0;
			display: block;
			color: #000;
			text-decoration: none;
			font-weight: $regular;
		}
	}
	&-content{
		&__header{
			font-size: 20px;
			font-weight: $medium;
			color: $Brown;
			text-transform: uppercase;
		}
		&__item{
			display: none;
			&.active{
				display: block;
			}
		}
	}
}
.btn-to-basket{
	display: inline-block;
	width: 100%;
	max-width: 150px;
	font-size: 15px;
	text-align: center;
	background-color: $green;
	color: #fff;
	height: 40px;
	line-height: 40px;
	transition: all .3s;
	&:before{
		content: url(../images/icons/icon-cart-white.svg);
		margin-right: 4px;
		width: 16px;
		height: 13px;
		vertical-align: middle;
	}
	&:hover{
		text-decoration: none;
		background-color: darken($green, 10%);
		color: #fff;
	}
}
.quantity{
	&__label{
		font-size: 15px;
		font-weight: $regular;
		margin-bottom: 5px;
	}
}
.magazine__quantity .selectize-input.items.full.has-options.has-items{
	background-color: #fff;
}
.magazine__quantity .selectize-control.quantity__dropdown.single{
	height: 39px;
}
.book__quantity .selectize-control.quantity__dropdown.single{
	width: 160px;
	margin-right: 6px;
	height: 37px;
}
.book__quantity .selectize-input.items.full.has-options.has-items{
	background-color: #fff;
}
.book__quantity{
	.quantity__label{
		margin-bottom: 0;
		margin-right: 8px;
	}
}
.book{
	&__list{
		border: 1px solid $borderGrey;
		margin-bottom: 20px;
	}
	&__image{
		max-width: 150px;
		margin-right: 17px;
	}
	&__title{
		font-size: 24px;
		font-weight: $bold;
		margin-bottom: 6px;
	}
	&__new{
		border: 1px solid $Lime;
		display: inline-block;
		border-radius: 5px;
		color: $Lime;
		margin-bottom: 6px;
		font-size: 13px;
		font-weight: $bold;
		padding: 2px 5px;
	}
	&__total{
		&-wrapper{
			display: flex;
			flex-wrap: wrap;
		}
	}
	&__price{
		margin-right: 14px;
		&-label{
			font-size: 14px;
			font-weight: $regular;
		}
		&-price{
			font-size: 34px;
			font-weight: $medium;
			color: $green;
		}
	}
	&__quantity{
		padding: 19px 23px 19px 16px;
		display: flex;
		background-color: $LightGreyBG;
		align-items: center;
	}
	&__about{
		font-size: 16px;
		font-weight: $regular;
		line-height: 1.6;
		margin-bottom: 14px;
	}
	&__item{
		border-bottom: 1px solid $borderGrey;
		padding: 14px;
		display: flex;
		align-items: flex-start;
		&:last-child{
			border-bottom: none;
		}
	}
}
.magazine{
	&__subscribers{
		width: 100%;
		margin-right: 14px;
	}
	&__date{
		width: 100%;
		margin-right: 14px;
	}
	&__duration{
		width: 100%;
		margin-right: 14px;
	}
	&__quantity{
		background-color: $LightGreyBG;
		margin-bottom: 14px;
		margin-top: 14px;
		padding: 8px 19px 18px 13px;
		border: 1px solid $borderGrey;
		display: flex;
		align-items: flex-end;
	}
	&__list{
		border: 1px solid $borderGrey;
	}
	&__item{
		border-bottom: 1px solid $borderGrey;
		padding: 14px;
		&:last-child{
			border-bottom: none;
		}
	}
	&__info{
		display: flex;
		align-items: flex-start;
	}
	&__title{
		font-size: 24px;
		font-weight: $bold;
		margin-bottom: 6px;
	}
	&__about{
		font-size: 16px;
		font-weight: $regular;
		line-height: 1.6;
		margin-bottom: 4px;
	}
	&__periodicity{
		margin-bottom: 18px;
		&-label{
			font-weight: $bold;
			display: inline-block;
		}
		&-date{
			display: inline-block;
		}
	}
	&__total{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__number{
		&-label{
			font-size: 14px;
			font-weight: $regular;
		}
		&-counter{
			font-size: 15px;
			color: $newsDescr;
		}
	}
	&__price{
		color: $green;
		font-size: 34px;
		font-weight: $medium;
	}
	&__image{
		max-width: 150px;
		margin-right: 17px;
		&-mobile{
			display: none;
		}
	}
	&__warning{
		background-color: $peach;
		padding: 16px 18px;
		font-size: 14px;
		&-header{
			font-weight: $bold;
		}
	}
}
.basket{
	border: 3px solid $borderGrey;
	background-color: $LightGreyBG;
	padding: 15px 19px 20px;
	&__header{
		font-size: 18px;
		font-weight: $bold;
		margin-left: 20px;
		margin-bottom: 20px;
		&:before{
			content: url(../images/icons/icon-cart-green.svg);
			margin-right: 7px;
			height: 20px;
			width: 20px;
			vertical-align: middle;
		}
	}
	&__list{
		margin-bottom: 6px;
	}
	&__item{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $borderGrey;
		padding: 7px 0;
		&:last-child{
			border-bottom: none;
		}
	}
	&__title{
		font-size: 16px;
		font-weight: $regular;
	}
	&__counter{
		font-weight: $bold;
	}
	&__btn{
		background-color: $Lime;
		display: block;
		text-align: center;
		color: #fff;
		height: 36px;
		line-height: 36px;
		transition: all .3s;
		&:hover{
			color: #fff;
			text-decoration: none;
			background-color: darken($Lime, 10%);
		}
	}
}
@media only screen and (max-width: 1200px){
	.magazine__quantity{
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
	}
	.magazine__subscribers{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.magazine__date{
		margin-right: 0;
		margin-bottom: 15px;
	}
	.magazine__duration{
		margin-right: 0;
		margin-bottom: 15px;
	}
}
.magazine__about-wrapper-mobile{
	display: none;
}
.book__quantity-mobile{
	display: none;
}
.book__about-mobile{
	display: none;
}
.basket-mobile-wrapper{
	display: none;
}
.basket-mobile{
	display: flex;
	justify-content: space-between;
	&__btn{
		color: #fff;
		background-color: $Lime;
		width: 114px;
		height: 36px;
		line-height: 36px;
		text-align: center;
		font-size: 15px;
		font-weight: $medium;
		&:hover{
			color: #fff;
			background-color: darken($Lime, 10%);
			text-decoration: none;
		}
	}
	&-inner{
		display: flex;
		align-items: center;
		font-size: 18px;
		font-weight: $bold;
		&:before{
			content: url(../images/icons/icon-cart-green.svg);
			width: 19px;
			height: 19px;
			margin-right: 7px;
			vertical-align: middle;
		}
	}
	&-counter{
		margin-left: 5px;
	}
}
@media only screen and (max-width: 991px){
	.catalog .left-banner-column{
		display: none;
	}
	.basket{
		display: none;
	}
	.basket-mobile-wrapper{
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		background-color: white;
		z-index: 9;
		border-top: 5px solid $borderGrey;
		padding: 13px 20px;
	}
}
@media only screen and (max-width: 640px){
	.btn-to-basket{
		max-width: 100%;
	}
	.magazine__image{
		max-width: 81px;
	}
	.magazine__about-wrapper{
		display: none;
	}
	.magazine__total{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	.magazine__about-wrapper-mobile{
		display: block;
	}
	.magazine__info{
		flex-wrap: wrap;
	}
	.book__image{
		max-width: 81px;
	}
	.book__quantity{
		display: none;
	}
	.book__quantity-mobile{
		display: block;
		width: 100%;
	}
	.book__descr{
		width: 60%;
	}
	.book__about{
		display: none;
	}
	.book__about-mobile{
		display: block;
	}
	.book__item{
		flex-wrap: wrap;
	}
	.catalog-control__link{
		font-size: 14px;
	}
}