.order-result{
	margin-top: 24px;
	margin-bottom: 24px;
}
.order-accept{
	&__info{
		background-color: $lightGreen;
		padding: 13px 19px;
		margin-bottom: 45px;
	}
	&__header{
		color: $green;
		font-weight: $bold;
	}
	&__text{
		font-weight: $medium;
	}
}
.order-info{
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
	&__header{
		font-weight: $bold;
		margin-bottom: 7px;
	}
	&__number{
		font-weight: $bold;
		margin-bottom: 7px;
	}
	&__date{
		font-weight: $regular;
	}
}
.order-contacts{
	display: flex !important;
	margin-bottom: 40px;
	&__seller{
		width: 70%;
	}
	&__buyer{
		width: 30%;
		display: flex;
		justify-content: space-between;
		font-size: 14px;
	}
}
.bayer-label__list{
	font-weight: $bold;
}
.seller-info{
	&__list{
		font-size: 14px;
		margin-bottom: 20px;
	}
	&__item{
		&:first-child{
			font-weight: $bold;
		}
	}
}
.seller-contact{
	&__list{
		font-size: 14px;
	}
}
.table-order{
	&__head{
		background-color: $DarkGrey;
		color: #fff;
		font-size: 14px;
		font-weight: $bold;
		display: flex;
	}
	&__item{
		width: 10%;
		text-align: center;
		padding: 9px;
		&:first-child{
			width: 50%;
			text-align: left
		}
	}
	&__info{
		display: flex;
		font-size: 14px;
		border: 1px solid $borderGrey;
		border-bottom: none;
	}
}
.table-order__info{
	.table-order__item{
		border-right: 1px solid $borderGrey;
		&:last-child{
			border-right: none;
		}
	}
}
.table-order__total{
	border: 1px solid $borderGrey;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	font-weight: $bold;
	.teble-order__item{
		border-right: 1px solid $borderGrey;
		&:last-child{
			border-right: none;
		}
		&:first-child{
			width: 90%;
		}
	}
}
@media (max-width: 991px){
	.order-result .left-banner-column{
		display: none;
	}
	.order-accept__info{
		text-align: center;
	}
	.order-accept__text{
		display: block;
	}
	.order-accept__link{
		margin: 15px auto 0;
		display: block;
		width: 100%;
		max-width: 260px;
		height: 36px;
		line-height: 36px;
		color: #fff;
		background-color: $Lime;
		font-size: 15px;
		font-weight: $medium;
		text-decoration: none;
		transition: all .3s;
		&:hover{
			color: #fff;
			background-color: darken($Lime, 10%);
			text-decoration: none;
		}
	}
	.order-contacts{
		display: none;
	}
	.order-info{
		display: none;
	}
	.table-order{
		display: none;
	}
	.order-result{
		height: 80vh;
	}
}
@media print{
	.order-contacts{
		display: block;
	}
}