.sub-menu{
	.selectize-dropdown.single.sub-menu__select{
		width: 100% !important;
	}
	.selectize-dropdown.single.sub-menu__select{
		box-shadow: none;
		border: 1px solid $borderGrey;
		top: 35px !important;
	}
	background-color: $darkBrown;
	&__wrapper{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		padding: 15px 0 13px;
	}
	&__list{
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		border-left: 2px solid rgba(#fff,.4);
		margin-right: 12px;
		&:last-child{
			margin-right: 0;
		}
	}
	&__link{
		padding-left: 12px;
		color: #fff;
		font-size: 16px;
		font-weight: $regular;
		&:hover{
			color: #fff;
		}
	}
}
.selectize-control.sub-menu__select.single{
		display: none;
	}
.home__link{
	margin-right: 14px;
}
.sub-menu__wrapper{
	padding-bottom: 8px;
}
@media only screen and (max-width: 991px){
	.home__link{
		display: none;
	}
	.sub-menu__list{
		display: none;
	}
	.selectize-control.sub-menu__select.single{
		display: block;
		width: 100%;
	}
}