@import 'common/variables';
@import 'common/mixins';
@import 'common/fonts';
@import 'common/base';
@import 'blocks/**/*';
//@import 'common/sprite-img';

/* .retina-sprite-block{
  @include retina-sprite($abiatec-group);
} */



$status-colors: (
  primary: #000,
  success: #27BA6C,
  info: #03a9f4,
  warning: #FF8833,
  danger: #ff1a1a
);
