$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$exrtabold: 900;



// Colors
$Brown: #89865C;
$darkBrown: #706C33;
$Lime: #79C043;
$DarkGrey: #4A494A;
$LightGrey: #9B9A9B;
$LightGreyBG: #F9F9F9;

// Text colors
$textBlack: #000000;
$textNewsTag: #767449;
$textLightGrey: #C3C3C3;
$textLime: #69B633;
$searchBarTextColor: #6E6E6E;
$newsDescr: #898989;
$footerText: #828282;

// Border color
$borderGrey: #eaeaea;
$borderMobile: #9a976c;

// Appearance answer color
$appearenceAnswer: #393939;

// Check box border color
$checkBoxGrey: #969696;