extends ../_template

block variables
	- var title = ['Add Ads','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
		include ../blocks/..

	include ../block/_header
	include ../block/_sub-menu
	//- include ../block/_search-bar
	include ../block/_search-bar-new
	include ../block/_add-ads
	include ../block/_footer
	include ../block/_company-info