extends ../_template

block variables
	- var title = ['Catalog','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
		include ../blocks/..

	include ../block/_header
	include ../block/_search-bar
	include ../block/_catalog
	include ../block/_footer
	include ../block/_company-info
	.basket-mobile-wrapper
		.basket-mobile
			.basket-mobile-inner
				.basket-mobile-label Krepšelis
				.basket-mobile-counter (0)
			a(href='#').basket-mobile__btn Užsakyti