extends ../_template

block variables
	- var title = ['Manoukis.it','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
		include ../blocks/..

	include ../block/_header
