extends ../_template

block variables
	- var title = ['Journal','index page description','index page keywords']

block content
	//- INCLUDE BLOCKS
		include ../blocks/..

	include ../block/_header
	include ../block/_search-bar
	include ../block/_journal
	include ../block/_footer
	include ../block/_company-info